
html {
    height: 100%;
}
body {
    background-image: url("../images/body.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


h1 {
    
    text-align: center;
    margin-left: 245px;
    color: white;
    font-size: 50px;
    text-decoration-line: none;
    text-shadow: 3px 2px black;

}
 
.sideNav {
    background-color: rgb(41, 39, 10);
    background-color: hsl(0, 0%, 0%, 0.6);
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.sideNav a {
    padding: 25px 25px;
    display: block;
    font-size: 25px;
    color: white;
    text-decoration: none;

}

.sideNav a:hover {
    color: rgb(205, 102, 102);
    
}
a.active {
    color: rgb(205, 102, 102); 
}

img {
    height: 390px;
    width: 390px;
    border: 2px solid white;

    
}
img:hover{
    height: 400px;
    width: 400px;
    cursor: hand;

}
.images{
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;

}

.row {
    padding: 10px;
    position: center;
}
.row p {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    font-family: cursive;
    color: white;
    text-shadow: 1px 0px black;
}
